1(a)

In [1]:
def factorial(n):
  if n==1 or n==0:
    return 1
  return n*factorial(n-1)
factorial(5)

120

1(b)

In [2]:
def fibonacci(n):
  if n==0 or n==1:
    return n
  else: return fibonacci(n-1)+fibonacci(n-2)

fibonacci(6)

8

1(c)

In [3]:
def printarr(arr,i=0):
  if i<len(arr):
    print(arr[i],end=" ")
    printarr(arr,i+1)

arr=[10,20,30,40]
printarr(arr)

10 20 30 40

1(d)

In [4]:
def powerN(b,n):
  if n==0:
    return 1
  else: return b*powerN(b,n-1)

powerN(3,2)

9

2(a)

In [5]:
def binary(n):
  if not n:
    return
  else:
    binary(n//2)
    print(n%2,end="")

binary(10)

1010

Node class

In [6]:
class Node:
  def __init__(self,el,n):
    self.element=el
    self.next=n

Converting to Linkedlist

In [7]:
def linkedList(arr):
  h=Node(arr[0],None)
  head=h
  tail=head
  for i in range(1,len(arr)):
    n=Node(arr[i],None)
    tail.next=n
    tail=n
  return head

2(b)

In [8]:
def addElement(head):
  if head:
    return head.element+addElement(head.next)
  else: return 0

arr=[10,20,30,40,50]
head=linkedList(arr)
print(addElement(head))

150

2(c)

In [9]:
def revList(head):
  if head:
    revList(head.next)
    print(head.element)
arr2=[10,20,30,40]
headlist=linkedList(arr2)
revList(headlist)

40
30
20
10

3.

In [10]:
def hocBuilder(height):
  if height==0:
    return 0
  if height==1:
    return 8
  else: return 5+hocBuilder(height-1)

hocBuilder(3)

18

4(a)

In [11]:
def printElement(n):
  if n>0:
      printElement(n-1)
      print(n,end=' ')

def makeStairs(n):
  if n>0: 
      makeStairs(n-1)
      printElement(n)
      print()

makeStairs(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

4(b)

In [12]:
def revStairs(n,y='1'):
    if n>0:
      if y=='1':
        space=' '*((n*2)-2)+y
      else:
        space=y[2:]+' '+str(int(y[-1])+1)
      print(space)
      revStairs(n-1,space)

revStairs(5)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

5.

In [13]:
class FinalQ: 
   def print(self,array,idx): 
       if (idx<len(array)): 
           profit = self.calcProfit(array[idx])
           print(f"{idx+1}. Investment: {array[idx]}; Profit: {profit}")
           self.print(array,idx+1)  
  
   def calcProfit(self,investment): 
       if investment>100000:
           return 80.0+self.calcProfit(investment-1000)
       elif investment>25000:
           return 45.0+self.calcProfit(investment-1000)
       else:
           return 0.0

 
  
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0

Updated Lab Task 1

In [14]:
def flattenList(given_list,output_list):
    if given_list == []:
        return
    elif type(given_list[0])==int:
        output_list.append(given_list[0])
    elif type(given_list[0])==list:
        flattenList(given_list[0],output_list)
    flattenList(given_list[1:],output_list)
    return output_list
given_list=[1,[2,[3,[4],5],6],7,8,[9,[[10,11],12],13],14,[15,[16,[17]]]]
output_list=flattenList(given_list,[])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

Ungraded Task

Node Class

In [15]:
class Node:
   def __init__(self,next,bottom,val):
      self.next=next
      self.bottom=bottom
      self.val=val

Coverting Nested List into Nested Linked List

In [16]:
class LinkedList:
   def __init__(self,head=None):
      self.head=head
      self.bottom=False  
   def createList(self,l):
      if l == []:
         return 
      elif type(l[0])==int:
         if not self.head:
            self.head= Node(None,None,l[0])
            self.tail=self.head
         else:
            if self.bottom:
               self.tail.bottom=Node(None,None,l[0])
               self.tail=self.tail.bottom
               self.bottom=False
            else:
               if self.tail.next:
                  self.tail.next.next=Node(None,None,l[0])
                  self.tail=self.tail.next.next
               else:      
                  self.tail.next=Node(None,None,l[0])
                  self.tail=self.tail.next
      elif type(l[0])==list:
         self.bottom= True
         t=self.tail
         self.createList(l[0])
         self.tail=t
      
      self.createList(l[1:])
      return self.head

Ungraded Task->Flatten Linked List

In [17]:
def flattenLinkedList(head,newHead):
   if not head:
      return
   if not newHead:
      newHead=Node(None,None,head.val)
   else:
      linkedListAppend(newHead,head.val)
   if head.bottom:
      flattenLinkedList(head.bottom,newHead)
   if head.next:
      flattenLinkedList(head.next,newHead)
   return newHead

def linkedListAppend(head,elem):
   if not head.next:
      n=Node(None,None,elem)
      head.next=n
   else:
      return linkedListAppend(head.next,elem)

def TraverseLinkedList(head):
   if head:
      print(f"{head.val}->",end=' ')
      TraverseLinkedList(head.next)

given_list=[1,[2,[3,[4],5],6],7,8,[9,[[10,11],12],13],14,[15,[16,[17]]]]
a=LinkedList()
NestedLinkedList=a.createList(given_list)
flattedLinkedList=flattenLinkedList(NestedLinkedList,None)
TraverseLinkedList(flattedLinkedList)

1-> 2-> 3-> 4-> 5-> 6-> 7-> 8-> 9-> 10-> 11-> 12-> 13-> 14-> 15-> 16-> 17->